{
    "parser": "babel-eslint",

    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "jest": true,
        "pit": true,
        "beforeEach": true
    },

    "plugins": [
        "react",
        "babel"
    ]
}
